$primary-color: #000000;
$secondary-color: #dfe2e2;
$faded-grey-color: rgba(255, 255, 255, 0.6);
$lighter-grey-color: #c5c5c5;
$darker-grey-color: #6b6b6b;
$faded-blue-color: #83aec5;
$lighter-blue-color: #d4e8f3;
$border-color: #ececec;
$background-color: #fbf8f5;
$teal-color: #4db6ac;
$red-color: #ff6b6b;
